.header {
    width: 100%;
    height: 48px;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.header--fixed {
    position: fixed;
    top: 0;
}

.model-container {
    max-height: 100vw;
    overflow-y: scroll;
}