<div *ngIf="!logged" class="d-flex flex-column w-100 justify-content-center align-items-center" style="height: 100vh;">
    <b>Faça a sua proposta!</b>
    <button (click)="logged = !logged" class="btn btn-dark my-5">Crie uma conta para continuar</button>
    <a href="#">Eu já tenho uma conta</a>
</div>

<div *ngIf="logged && !sent" class="d-flex flex-column w-100 justify-content-center align-items-center p-3">
    <h3 class="fw-bold align-self-start">Endereço de entrega</h3>
    <div class="rounded-3 w-100 border position-relative p-3 mt-3">
        <a href="" class="position-absolute" style="top: 16px; right: 11px">Alterar</a>
        <span>Gustavo Souza</span>
        <br>
        <span>R. Levindo Lopes, 323</span>
        <br>
        <span>Funcionários</span>
        <br>
        <span>Belo Horizonte - MG, 30140-170</span>
    </div>
    <div class="d-flex my-4 justify-content-center">
        <div class="me-3">
            <input type="text" class="form-control py-3" id="formGroupExampleInput" placeholder="Insira aqui o valor (R$)">
            <div class="valid-feedback" style="display: block;">
                Proposta não aceita, tente outro valor.
            </div>
        </div>
        <div>
            <button class="btn btn-dark px-4 py-3">Enviar</button>
        </div>
    </div>
    <div class="d-flex justify-content-start w-100">
        <div class="d-flex">
            <div class="me-5">
                <p><b>Subtotal</b></p>
                <p><b>Frete</b></p>
                <p><b>Total</b></p>
            </div>
            <div>
                <p>R$ 1.080.000</p>
                <p>R$ 1.000</p>
                <p>R$ 1.081.000</p>
            </div>
        </div>
    </div>
    <h3 class="fw-bold align-self-start my-3">Forma de pagamento</h3>
    <div class="w-100 text-start my-3">
        <div class="d-flex">
            <img src="https://via.placeholder.com/41x25.png" width="41px" height="25px" alt="">
            <span class="mx-2"><b>MasterCard (Crédito)</b> termina em 1234</span>
        </div>
        <span><a href="">Clique aqui</a> para trocar o cartão</span>
    </div>
    <button (click)="sent = !sent" class="btn btn-dark w-100 py-3">Finalizar Pagamento</button>
    <!-- <a class="my-4" href="#">Deseja ver outras condições de proposta?</a> -->
</div>

<div *ngIf="logged && sent" class="d-flex flex-column w-100 justify-content-center align-items-center" style="height: 100vh;">
    <h3 class="my-4 fw-bold">Sua proposta foi enviada com sucesso!</h3>
    <span>Aguarde enquanto a sua proposta é analisada por nosso time.</span>
    <button (click)="window.proposal = false" class="btn btn-dark mt-4">Voltar</button>
</div>