<section class="sellerHome">
    <div class="sellerHeaderSection">
        <img class="w-100 h-100" src="https://cdn.nickbuilder.com.br/d04296cf-3817-48db-915d-10828eec3486/img/martin-katler-dM1i2mt_LCU-unsplash.png" alt="">
        <div class="sellerHeaderInfo p-3">
            <h3 class="fw-600 align-self-start my-3">Receba ofertas pelo seu carro sem sair de casa</h3>
            <p>
                Descubra a plataforma Bamaq, espaço em que você pode vender seu carro com segurança e de forma tranquila.
            </p>
            <p>
                Para colocar o seu veículo na garagem virtual*, texto texto texto.
            </p>
            <p class="m-0">
                Confira algumas marcas com que trabalhamos:
            </p>
            <div class="py-5">
                <div class="brandCarousel">
                    <div class="brandItem me-3 pb-3" *ngFor="let item of [0,1,2,3,4]">
                        <img width="100px" height="100px" src="https://via.placeholder.com/100.png" alt="">
                    </div>
                </div>
                <span style="font-size: x-small;">*Veículos nos valores acima de R$XXX.XX.</span>
            </div>
            <div class="text-center pt-3 pb-5">
                <button class="btn btn-outline-light rounded-3">Descubra o valor do seu carro</button>
            </div>
        </div>
    </div>

    <div>
        <img class="w-100 h-100" src="https://cdn.nickbuilder.com.br/d04296cf-3817-48db-915d-10828eec3486/img/anton-spreemann-ort2CeETs8c-unsplash_carro.jpg" alt="">
    </div>

    <div class="sellerInfoSection p-3">
        <h3 class="fw-600 align-self-start my-3">Passo a passo para venda</h3>
        <span>Em apenas três passos, você consegue vender o seu carro com tranquilidade na Bamaq:</span>
        <div class="my-4">
            <div class="d-flex align-items-center">
                <div class="d-flex justify-content-center align-items-center p-3 rounded-circle blackBackground mx-3">
                    <i class="material-icons">directions_car</i>
                </div>
                <span class="small">Informe os dados do seu veículo, podendo cadastrar quantos carros quiser!</span>
            </div>
            <div class="d-flex my-4 align-items-center">
                <div class="d-flex justify-content-center align-items-center p-3 rounded-circle blackBackground mx-3">
                    <i class="material-icons">checklist</i>
                </div>
                <span class="small">Agendamos uma vistoria para analisar e tirar fotos profissionais do seu
                    veículo.</span>
            </div>
            <div class="d-flex align-items-center">
                <div class="d-flex justify-content-center align-items-center p-3 rounded-circle blackBackground mx-3">
                    <i class="material-icons">storefront</i>
                </div>
                <span class="small">Gerencie e publique o seu anúncio, podendo ser avisado por telefone quando alguém
                    demonstrar interesse no seu veículo.</span>
            </div>
        </div>
    </div>
    <div class="text-center mb-5">
        <button class="btn btn-dark rounded-3">Avalie seu carro</button>
    </div>
</section>