<div class="p-5 w-100 text-center" style="background-color: #F5F5F5;">
    <div>
        <b>WhatsApp</b>
        <br>
        <label class="my-2">(31) 3342-1611</label>
    </div>
    <div>
        <b>Ouvidoria</b>
        <br>
        <label class="my-2">0800-212-4321</label>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <div class="d-flex justify-content-center align-items-center me-3 rounded-circle" style="color: white;background-color: #B8B8B8; width: 38px; height: 38px;">
            <i class="fa fa-linkedin-square"></i>
        </div>
        <div class="d-flex justify-content-center align-items-center me-3 rounded-circle" style="color: white;background-color: #B8B8B8; width: 38px; height: 38px;">
            <i class="fa fa-instagram"></i>
        </div>
        <div class="d-flex justify-content-center align-items-center me-3 rounded-circle" style="color: white;background-color: #B8B8B8; width: 38px; height: 38px;">
            <i class="fa fa fa-facebook"></i>
        </div>
        <div class="d-flex justify-content-center align-items-center me-3 rounded-circle" style="color: white;background-color: #B8B8B8; width: 38px; height: 38px;">
            <i class="fa fa fa-youtube-play"></i>
        </div>
        <div class="d-flex justify-content-center align-items-center me-3 rounded-circle" style="color: white;background-color: #B8B8B8; width: 38px; height: 38px;">
            <i class="fa fa-whatsapp"></i>
        </div>
    </div>
</div>