<form class="d-flex flex-column h-100" action="">
  <div>
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Ordenar por</label>
      <select class="form-select" aria-label="Default select example">
        <option selected>Menor preço</option>
        <option value="1">Maior preço</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Experiências</label>
      <select class="form-select" aria-label="Default select example">
        <option selected>Todas</option>
        <option value="1">Blindado</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Marca</label>
      <select class="form-select" aria-label="Default select example">
        <option selected>Todas</option>
        <option value="1">Porsche</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Modelo</label>
      <select class="form-select" aria-label="Default select example">
        <option selected>Escolha o modelo</option>
        <option value="1">901</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Versão</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Insira a versão do veículo">
    </div>
    <div class="mb-3">
      <label for="customRange1" class="form-label">Valor</label>
      <input type="range" class="form-range" id="customRange1">
    </div>
    <div class="mb-3">
      <label for="customRange1" class="form-label">Quilometragem</label>
      <input type="range" class="form-range" id="customRange1">
    </div>
  </div>
  <div class="mt-auto">
    <div class="d-flex">
      <button type="button" style="width: 25%;" class="btn btn-outline-dark me-3">Limpar</button>
      <button type="button" style="width: 75%;" class="btn btn-dark">Aplicar filtro</button>
    </div>
  </div>
</form>
